@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Rubik', sans-serif;
}

@layer utilities {
    .bg-hero {
      @apply bg-cover bg-center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/sky-scraper.jpg');
    }
    .bg-donation {
      @apply bg-cover bg-center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/iStock-857146092.jpg');
    }

    .bg-about{
      @apply bg-cover bg-top;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/happy_employees.jpg');
    }

    .goal-badge{
      @apply text-2xl font-bold mb-2 absolute -top-2 -left-2 w-10 h-10 bg-primary-blue rounded-full text-white inline-flex justify-center items-center border-2 border-white;
    }
    
    .btn-yellow-gradient{
      @apply  bg-gradient-to-r from-primary-gold to-yellow-600 hover:bg-gradient-to-br text-white rounded-md h-10 px-4 py-2;
    }
  }

@keyframes bounce-side {
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(7px);
  }
}