{% extends 'layout.html' %}

{% block head %}
  <title>About Us</title>
{% endblock %}

{% block body %}
  <div class="bg-dark text-light">
    {% include 'components/navbar.html' %}

    <!-- Header Section with Hero Image -->
    <header class="jumbotron text-white text-center" style="background-image: url('/static/images/bg1.jpg'); background-size: cover;">
      <div class="container">
        <!-- Navbar included here if needed -->

        <h1 class="display-4 font-weight-bold">About Us</h1>
        <p class="lead font-weight-bold">Learn more about Church Arise Network and the problems we solve.</p>
      </div>
    </header>
    <div style="margin-top: 100px;"></div>

    <!-- Mission Section -->
    <section class="container my-5">
      <h2 class="text-center">Who are we?</h2>
      <p class="text-center">
        The church, The bride of christ has been separated unto Kingship and Priesthood.
        <br />
        He has sent us to make known unto his bride, his unchanging desire that she walks in Fellowship with him, in Partnership - showing forth his glory while remaining loyal and submissive to his Government.
      </p>
    </section>

    <div style="margin-top: 100px;"></div>
    <!-- Vision Section -->
    <section class="container my-5">
      <h2 class="text-center">Our Message</h2>
      <p class="text-center">
        The more we know Christ and the Power that raised him up from the dead, <br /> that’s the more we are raised and empowered to live a Life for Generations.
      </p>
    </section>

    <div style="margin-top: 100px;"></div>
    <!-- Big 7 Concept Section -->
    <section class="container my-5">
      <h2 class="text-center">Our Goals</h2>
      <p class="text-justify"></p>

      <!-- Accordion for Big 7 Concepts -->
      <div id="accordion" class="mt-4 text-dark">
        <!-- Love -->
        <div class="card">
          <div class="card-header" id="loveHeading">
            <h5 class="mb-0"><button class="btn" data-toggle="collapse" data-target="#loveCollapse" aria-expanded="true" aria-controls="loveCollapse"><i class="fas fa-caret-down"></i> Goal One</button></h5>
          </div>

          <div id="loveCollapse" class="collapse" aria-labelledby="loveHeading" data-parent="#accordion">
            <div class="card-body">A Family of Productive Positive Creative and Christ-Like young people</div>
          </div>
        </div>

        <!-- Faith -->
        <div class="card">
          <div class="card-header" id="faithHeading">
            <h5 class="mb-0"><button class="btn" data-toggle="collapse" data-target="#faithCollapse" aria-expanded="true" aria-controls="faithCollapse"><i class="fas fa-caret-down"></i> Goal Two</button></h5>
          </div>

          <div id="faithCollapse" class="collapse" aria-labelledby="faithHeading" data-parent="#accordion">
            <div class="card-body">A Platform for young people to Think, Act and Grow Professionally.</div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="fno3value">
            <h5 class="mb-0"><button class="btn" data-toggle="collapse" data-target="#no3value" aria-expanded="true" aria-controls="faithCollapse"><i class="fas fa-caret-down"></i> Goal Three</button></h5>
          </div>

          <div id="no3value" class="collapse" aria-labelledby="faithHeading" data-parent="#accordion">
            <div class="card-body">
                Young People inspired to go beyoung themselves to serve others.
            </div>
          </div>
        </div>

        <!-- Integrity -->
        <!-- Add similar card structure for other concepts -->
      </div>
    </section>

    <div style="margin-top: 100px;"></div>
    <!-- Values Section with Bootstrap Grid -->
    <section class="container my-5">
      <h2 class="text-center">Our Mission</h2>
      <p class="text-center">Why are we here</p>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item bg-dark">To Raise an Apostolic Generation through an Apostolic Educational System.</li>
            <li class="list-group-item bg-dark">To Reach the ends of the Earth with the Gospel of the Kingdom of God.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item bg-dark">To Strategically Invade systems by providing real time, undeniable Value to society</li>
            <li class="list-group-item bg-dark">To promote and reward the good works of others [Awards and Magazine etc]</li>
          </ul>
        </div>
      </div>
    </section>

    <div style="margin-top: 100px;"></div>

    <!-- Our Team Section -->
    {% comment %} <section class="container my-5">
      <h2 class="text-center">Meet Our Team</h2>
      <p class="text-justify">Get to know the dedicated individuals who form the backbone of Church Arise Network. Each member of our team plays a crucial role in fulfilling our mission and vision.</p>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-4 shadow-sm">
            <div class="team-member">
              <div class="row">
                <div class="col-4">
                  <img src="https://placekitten.com/120/120" class="rounded-circle" alt="John Doe Image" />
                </div>
                <div class="col-8">
                  <div class="team-info mt-4">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Executive Director</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 shadow-sm">
            <div class="team-member">
              <div class="row">
                <div class="col-4">
                  <img src="https://placekitten.com/120/120" class="rounded-circle" alt="John Doe Image" />
                </div>
                <div class="col-8">
                  <div class="team-info mt-4">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Executive Director</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 shadow-sm">
            <div class="team-member">
              <div class="row">
                <div class="col-4">
                  <img src="https://placekitten.com/120/120" class="rounded-circle" alt="John Doe Image" />
                </div>
                <div class="col-8">
                  <div class="team-info mt-4">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Executive Director</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-4 shadow-sm">
            <div class="team-member">
              <div class="row">
                <div class="col-4">
                  <img src="https://placekitten.com/120/120" class="rounded-circle" alt="John Doe Image" />
                </div>
                <div class="col-8">
                  <div class="team-info mt-4">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Executive Director</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add more team members as needed -->
      </div>
    </section> {% endcomment %}

    <div style="margin-top: 100px;"></div>

    {% include 'components/footer.html' %}
  </div>
{% endblock %}
