{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/gallery.css">
    <title>Gallery</title>
{% endblock head %}

{% block body %}
<div class="bg-dark text-light">

    {% include "components/navbar.html" %}

    <!-- Header Section with Hero Image -->
    <header class="pt-5">
        <!-- Navbar included here if needed -->

        <h1 class="display-4 font-weight-bold" style="margin-top: 20px;">Gallery</h1>
        <p>An image worth a thousand words</p>

    </header>
    <section class="container my-5">
        <div id="gallery-container" >

            {% for image in  gallery %}
            <div class="row gallery-item">
                <div class="col-12">
                    <!-- Image on Mobile View -->
                    <img src="{{ image.image.url }}" alt="Image" class="img-fluid d-block d-md-none">
                </div>
                <div class="col-md-6">
                    <!-- Image on Desktop View -->
                    <img src="{{ image.image.url }}" alt="Image" class="img-fluid d-none d-md-block">
                </div>
                <div class="col-md-6">
                    <!-- Text on Desktop View -->
                    <div class="card bg-dark text-light">
                        <div class="card-body">
                            <h5 class="card-title">{{ image.title }}</h5>
                            <p class="card-text">{{ image.body }}</p>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>


    <!-- Button Section -->
    <section class="container my-5 text-center">
        <div class="row">
            <div class="col-12">
                {% for image in gallery %}
                <button class="image-button" style="background-image: url({{ image.image.url }})" onclick="goToIndex({{forloop.counter0}})"></button>
                {% endfor %}
            </div>
        </div>

        <!-- Control Buttons -->
        <div class="row">
            <div class="col-6 text-right">
                <button class="control-buttons" onclick="scrollGallery(-1)"><i class="fas fa-chevron-left"></i>
                    Back</button>
            </div>
            <div class="col-6 text-left">
                <button class="control-buttons" onclick="scrollGallery(1)">Next <i
                        class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </section>

    {% include "components/footer.html" %}
</div>

<script src="/static/js/gallery.js"></script>

{% endblock body %}