{% extends "layout.html" %}
{% load static %}

{% block head %}
    <script src="https://kit.fontawesome.com/7dc614ef69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<title>Gallery</title>
{% endblock head %}

{% block body %}

    <header class="text-center py-4 pt-16">
        <h1 class="text-4xl md:font-normal md:text-6xl text-primary-blue">
            Gallery
        </h1>
        <p class="max-w-[600px] md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed capitalize text-center text-lg mt-1 mx-auto">
            An image worth a thousand words.
        </p>
    </header>

    <section class="container pb-4 my-5 mx-auto mb-12">
        <div class=" rounded-5">

            <section class="p-4 text-center w-100">
                <!-- Gallery -->
                <div id="gallery-wrapper">
                    {% for image in  gallery %}
                        <div class="mb-lg-0">
                            <img src="{{ image.image.url }}"
                                class="w-full h-full shadow-md cursor-zoom-in rounded-md hover:shadow-md border-primary-blue border-2" onclick="openImageModal(this)" alt="{{ image.title }}">
                        </div>
                    {% endfor %}
                </div>

                <!-- Gallery -->
            </section>

        </div>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal flex justify-center items-center">
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
    </div>


<script src="{% static 'js/gallery.js' %}"></script>

{% endblock body %}