{% extends 'layout.html' %}
{% load static %}

{% block head %}
  <title>Church Arise Network</title>
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block body %}
  <div class="bg-dark text-light">
    {% include 'components/navbar.html' %}

    <!-- Hero Section -->
    <header class="hero-section">
      <h1>Welcome Home</h1>
      <p>Church Arise Network - Institutionalizing Righteousness</p>
    </header>

    <section class="container mt-5">
      <h2 class="text-center mb-3">Announcements</h2>
      <div class="row">
        <!-- Announcement Card 1 -->
        {% for announcement in announcements %}
          <div class="col-md-4">
            <div class="card mb-4">
              <img src="{{ announcement.image.url }}" alt="Announcement 1" class="card-img-top" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{ announcement.headline }}</h5>
                <p class="full-text card-text" style="display: none;">{{ announcement.body }}</p>
                <p class="short-text" style=""></p>
                <a href="#" class="see-more-link">See More</a>
                {% if not request.user.is_authenticated %}
                  <a class="btn bg-white text-bolder" href="/signup" style="float: right;">SignUp Now</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var seeMoreLinks = document.querySelectorAll('.see-more-link')
            var noOfTextContentToShow = 370
          
            seeMoreLinks.forEach(function (link) {
              var fullTextElement = link.parentElement.querySelector('.full-text')
              var shortTextElement = link.parentElement.querySelector('.short-text')
          
              var fullText = fullTextElement.textContent
          
              if (fullText.length < noOfTextContentToShow) {
                shortTextElement.textContent = fullText // Display first 370 characters
                link.style.display = 'none'
              } else {
                var shortText = fullText.substring(0, 370) // Display first 370 characters
                shortTextElement.textContent = shortText
          
                link.addEventListener('click', function (event) {
                  event.preventDefault()
                  if (fullTextElement.style.display === 'none') {
                    fullTextElement.style.display = 'block'
                    shortTextElement.style.display = 'none'
                    link.textContent = 'See Less'
                  } else {
                    fullTextElement.style.display = 'none'
                    shortTextElement.style.display = 'block'
                    link.textContent = 'See More'
                  }
                })
              }
            })
          })
        </script>

        <!-- Repeat for other announcements -->
      </div>
    </section>

    {% comment %} <section class="container mt-5">
      <h2 class="text-center mb-3">Community Member of the Month</h2>

      <div class="row">
        <!-- Announcement Card 1 -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="/static/images/gal2.jpg" alt="Announcement 1" class="card-img-top" />
          </div>
        </div>

        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">February Camp Meeting</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus vel metus lacinia, vel pretium est tincidunt.</p>

              <a class="btn bg-white text-bolder" href="https://chat.whatsapp.com/CPufQxQcWqQGQkOUx5rQWU" style="float: right;">Connect</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat for other announcements -->
    </section> {% endcomment %}

    <section class="container mt-5">
      <h2>Follow Us</h2>
      <div class="row">
        <div class="col-md-4">
          <a href="https://chat.whatsapp.com/CPufQxQcWqQGQkOUx5rQWU" class="text-white"><i class="fab fa-whatsapp fa-3x"></i> WhatsApp</a>
        </div>
        <div class="col-md-4">
          <a href="https://www.facebook.com/profile.php?id=61552183147608" class="text-white"><i class="fab fa-facebook fa-3x"></i> Facebook</a>
        </div>
        <div class="col-md-4">
          <a href=" https://t.me/SuperNaturalGeneration" class="text-white"><i class="fab fa-telegram fa-3x"></i> Telegram</a>
        </div>
      </div>
    </section>

    <div style="margin-top:100px;"></div>

    {% include 'components/footer.html' %}
  </div>
{% endblock %}
