{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/style.css" />
<title>Login</title>
{% endblock head %} {% block body %}
<div class="container mt-5 mx-auto">
    <!-- Header -->
    <!-- <header class="text-center">
        <h1 class="display-4"><i class="fas fa-fire mr-3"></i> Login</h1>
    </header> -->

    <header class="text-center py-4 pt-16">
        <h1 class="text-4xl md:font-normal md:text-6xl text-primary-blue">
            Login
        </h1>
    </header>

    <!-- Form Section -->
    <form class="px-4" id="login-form" action="{% url 'login' %}" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="fieldWrapper mb-3">
            {{ field.label_tag }} {{ field }}
            <p class="text-danger">{{ field.errors }}</p>
        </div>
        {% endfor %}
        <button type="submit" class="btn-yellow-gradient w-full" id="loginBtn">
            <i class="fas fa-sign-in-alt"></i> Login
        </button>

        <p class="mt-8">Don't have an account? <a class="text-yellow-400 hover:underline" href="/signup">Signup now</a></p>
    </form>

    <style>
        ul.errorlist {
            list-style-type: none;
        }

        ul.errorlist li {
            color: #dc3545 !important;
        }
    </style>

    <div style="margin-top: 100px"></div>
</div>
{% endblock body %}
