{% extends "layout.html" %}

{% block head %}
    <title>About Us</title>
{% endblock head %}

{% block body %}

<body class="bg-dark text-light">

{% include "components/navbar.html" %}
    

<div style="margin-top: 100px;"></div>

    <header class="text-center mb-5">
        <h1>Publications <i class="fas fa-book"></i></h1>
    </header>

    <div class="container">
        <div class=" row">
            <div class="col-4">
                <section id="students" class="container ">
                    <div class="card">
                        <img src="/static/images/gal1.jpg" class="card-img-top" alt="Students Meeting Guide">
                        <div class="card-body text-dark">
                            <h2 class="card-title"><i class="fas fa-user-graduate"></i> Students Meeting Guide</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus vel metus lacinia, vel pretium est tincidunt.</p>
                            <a href="path-to-students-pdf" class="btn btn-warning" download><i class="fas fa-download"></i> Download PDF</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-4">
                <section id="family" class="container ">
                    <div class="card">
                        <img src="/static/images/gal2.jpg" class="card-img-top" alt="Family Meeting Guide">
                        <div class="card-body text-dark">
                            <h2 class="card-title"><i class="fas fa-users"></i> Family Meeting Guide</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus vel metus lacinia, vel pretium est tincidunt.</p>
                            <a href="path-to-family-pdf" class="btn btn-warning" download><i class="fas fa-download"></i> Download PDF</a>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-4">
                
                <section id="corporate" class="container ">
                    <div class="card ">
                        <img src="/static/images/gal3.jpg" class="card-img-top" alt="Corporate Meeting Guide">
                        <div class="card-body text-dark">
                            <h2 class="card-title"><i class="fas fa-building"></i> Corporate Meeting Guide</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt tellus vel metus lacinia, vel pretium est tincidunt.</p>
                            <a href="path-to-corporate-pdf" class="btn btn-warning" download><i class="fas fa-download"></i> Download PDF</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    


    

    {% include "components/footer.html" %}
</body>
{% endblock %}