<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">
      <i class="fas fa-crown mr-2"></i> Fire Crown Love
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about_us">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/giving">Giving</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/partners">Partners</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/publications">Publications</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/upcoming">Upcoming</a>
          </li>
      </ul>
  </div>
</nav>
